---
import Layout from "../layouts/Layout.astro";

const { title, description, herf, imageSrc, features = [] } = Astro.props;
---

<Layout title="">
  <div
    class="w-full max-w-sm p-6 bg-white border text-black border-gray-200 rounded-lg shadow"
  >
    <!-- Logo and Title -->
    <div class="flex items-center mb-4">
      <div class="rounded-full p-2">
        <img src={imageSrc} width={40} height={40} alt="logo" />
      </div>
      <h5 class="text-lg font-medium ml-3">{title}<sup>®</sup></h5>
    </div>

    <!-- Description -->
    <p class="mb-4 text-sm text-gray-700">
      {description}
    </p>

    <!-- Popular Features -->
    <div>
      <h6 class="text-md font-semibold mb-2">Popular Features</h6>
      <ul class="space-y-3">
        {
          features.length > 0 ? (
            features.map((feature) => (
              <li class="flex items-center">
                <svg
                  class="w-4 h-4 text-red-500"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                </svg>
                <span class="ml-2 text-sm text-gray-700">{feature}</span>
              </li>
            ))
          ) : (
            <li>No features available</li>
          )
        }
      </ul>
    </div>

    <!-- Call to Action -->
    <button
      class="w-full mt-6 bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 rounded-lg"
    >
      <a href={herf}>Learn more</a>
    </button>
  </div>
</Layout>
